{
  "plugins": [
    "transform-object-rest-spread",
    "import-glob"
  ],
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    },
    "es": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
